//global colors
:root {
    // main colors
    --offblack: #353535;
    --offwhite: #FFFCF2;
    --primaryblue: #03178C;
    --lightblue: #e2fdff;
    // togggle colors
    --toggle-bg-light: var(--lightblue);
    --toggle-bg-start: var(--lightblue);
    --toggle-light: var(--lightblue);
    --toggle-button-light: var(--primaryblue);
    // dark mode
    --dark-bg: var(--offblack);
    --dark-text: var(--offwhite);
    --dark-link: var(--primaryblue);
    --dark-button-bg: var(--lightblue);
    --dark-button-text: var(--offblack);
    --dark-section-line: var(--offwhite);
    --dark-nav-link: var(--offwhite);
    --dark-nav-link-hover: var(--lightblue);
    // light mode
    --light-bg: var(--offwhite);
    --light-text: var(--offblack);
    --light-link: var(--primaryblue);
    --light-button-bg: var(--primaryblue);
    --light-button-text: var(--offwhite);
    --light-section-line: var(--offblack);
    --light-nav-link: var(--offblack);
    --light-nav-link-hover: var(--primaryblue);

    --background: var(--light-bg);
    --text-color: var(--light-text);
    --toggle: var(--toggle-light);
    --toggle-bg: var(--toggle-bg-light);
    --toggle-button: var(--toggle-button-light);
}

//light + dark mode colors

body.light {
    background-color: var(--light-bg);
    color: var(--light-text);

    section {
        border-bottom: 2px solid var(--light-section-line);
    }

    nav {
        border-bottom: 2px solid var(--light-section-line);
    }

    nav li a {
        color: var(--light-nav-link);
    }

    nav li a:hover {
        color: var(--light-nav-link-hover);
    }

    a {
        color: var(--light-link);
    }

    a:visited {
        color: var(--light-nav-link);
    }

    button {
        background-color: var(--light-button-bg);
        color: var(--light-button-text);
    }

    //add hover + visited color styles!!!

    .primary-button {
        background-color: var(--light-button-bg);
        color: var(--light-button-text);
    }

    .footer {
        border-top: 2px solid --light-section-line;
    }

    //add link hover state colors!!!

    .footer a:hover {
        color: var(--light-nav-link-hover);
    }

    .footer li a {
        color: var(--light-text);
    }

    .caption {
        color: var(--light-text);
    }


    //project styles
    .project-intro {
        border-bottom: 2px solid --light-section-line;
    }

    .tags li {
        background-color: var(--primaryblue);
        color: var(--offwhite);
    }

    blockquote {
        border-left: --primaryblue solid 8px;
    }

    .next-project a {
        color: var(--offwhite);
    }

    .next-project {
        background-color: var(--primaryblue);
    }

    .next-project:hover {
        background-color: var(--offblack);
    }

    .prev-project{
        background-color: var(--primaryblue);
    }

    .prev-project:hover{
        background-color: var(--offblack);
    }

    
}


// body.dark {
//     background-color: var(--dark-bg);
//     color: var(--dark-text);
// }