//accessible toggle code
// https://codepen.io/SaraSoueidan/pen/jpBbrq/?editors=1100

//function converting pixles to rems

@function rem($pixels, $context: 16) {
    @return ($pixels / $context) * 1rem;
}

//toggle 
.toggle {
    border: none;
    display: grid;
    grid-template-columns: 2fr 6rem;
    margin: 0;

    lable {
        font-size: rem(20);
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 500;
        color: #03178C;


        &[for='dark'] {
            line-height: rem(24);
            margin-right: rem(13);
        }
    }

    &__wrapper {
        position: relative;
        height: rem(24);
    }

    input[type="radio"] {
        margin: 0 rem(-2);
        opacity: 0;
        width: rem(24);
        height: rem(24);

        &:focus~.toggle__button {
            border: 3px solid green;
        }
    }

    &__background {
        display: block;
        height: 100%;
        position: absolute;
        width: 100%;
        top: 0;
        border-radius: rem(12);
        background: lightblue;
        pointer-events: none;
    }

    &__button {
        position: absoluted;
        left: rem(3);
        top: rem(3);
        right: 100%;
        width: rem(18);
        height: rem(18);
        border-radius: 50%;
        background-color: cyan;
        transition: all 150ms ease-in-out;
    }

    #light:checked~.toggle__button {
        left: calc(100% - 21px);
        right: 3px;
    }

    #system:checked~.toggle__button {
        left: 50%;
        right: auto;
        transform: translate(-50%);
    }
}
