// @use '../util' as *;
// https://codepen.io/SaraSoueidan/pen/jpBbrq/?editors=1100

//function converting pixles to rems

@function rem($pixels, $context: 16) {
    @return ($pixels / $context) * 1rem;
}

//toggle 
.toggle {
    border: none;
    display: grid;
    grid-template-columns: 1fr 3rem;
    margin: 0;


    lable {
        font-size: rem(14);
        font-weight: 500;
        color: #03178C;


        &[for='dark'] {
            line-height: rem(24);
            margin-right: rem(13);
        }
    }

    &__wrapper {
        position: relative;
        height: rem(24);
    }

    input[type="radio"] {
        margin: 0 rem(-2);
        opacity: 0;
        width: rem(24);
        height: rem(24);

        &:focus~.toggle__button {
            border: 2px solid white;
        }
    }

    &__background {
        display: block;
        height: 100%;
        position: absolute;
        width: 100%;
        top: 0;
        border-radius: rem(12);
        background: magenta;
        pointer-events: none;
    }

    &__button {
        position: absoluted;
        left: rem(3);
        top: rem(3);
        right: 100%;
        width: rem(18);
        height: rem(18);
        border-radius: 50%;
        background-color: cyan;
        transition: all 150ms ease-in-out;
    }

}