@use '../util' as *;
// https://codepen.io/SaraSoueidan/pen/jpBbrq/?editors=1100

.toggle {
    border: none;
    display: grid;
    grid-template-columns: 1fr 3rem;
    margin: 0;


    lable {
        font-size: rem(2);
        font-weight: 500;
        color: #03178C;
    }

    &[for='dark'] {
        line-height: rem(24);
        margin-right: rem(13);
    }

    &__wrapper {}

    input[type="radio"] {}

    &__background {}

    &__button {
        position: absoluted;
        left: rem(3);
        top: rem(3);
        right: 100%;
        width: rem(18);
        height: rem(18);
        border-radius: 50%;
        background-color: cyan;
        transition: all 150ms ease-in-out;
    }

}