body{
    background-color: #f8f5f2;

    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

#weather-container{
    background-color: #078080;
    color:#f8f5f2;
    max-width: 450px;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 8px 32px rgba(0,0,0,0.1);
    backdrop-filter: blur(10px);
    border: 1px solid #078080;
}

input{ 
    width: calc(100%-16px);
    padding: 8px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid #f8f5f2;
    margin-top: 15px;
}

button{
    background:#f8f5f2;
    color:#078080;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 15px;
    width: 100px;
    font-size: 1rem;
    font-weight: 500;
}

button:hover{
    background-color:#3da9fc;
    color:#f8f5f2
}

#temp-div p{
    font-size: 60px;
    margin-top: -30px;
}

#weather-info{
    font-size: 20px;
}

#weather-icon{
    width: 200px;
    height: 200px;
    margin: 0 auto 10px;
    display: none;
}

#hourly-forecast{
    margin-top: 50px;
    overflow-x: auto;
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
}

.hourly-item{
    flex: 0 0 autp;
    width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
    color: #f8f5f2; 
}

.hourly-item img{
    width: 30px;
    height: 30px;
    margin-bottom: 5px;
}

#hourly-heading{
    color:#f8f5f2;
    margin-top: 10px;
}

